<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>pic_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{505,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{505,614}}</string>
        <key>sourceSize</key>
        <string>{505,614}</string>
      </dict>
      <key>pic_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,617},{505,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{505,614}}</string>
        <key>sourceSize</key>
        <string>{505,614}</string>
      </dict>
      <key>pic_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,1},{505,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{505,614}}</string>
        <key>sourceSize</key>
        <string>{505,614}</string>
      </dict>
      <key>pic_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1233},{505,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{505,614}}</string>
        <key>sourceSize</key>
        <string>{505,614}</string>
      </dict>
      <key>pic_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,617},{505,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{505,614}}</string>
        <key>sourceSize</key>
        <string>{505,614}</string>
      </dict>
      <key>pic_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,1233},{505,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{505,614}}</string>
        <key>sourceSize</key>
        <string>{505,614}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>stageImg.png</string>
      <key>textureFileName</key>
      <string>stageImg.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>