<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Enemy401_atk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,3},{153,129}}</string>
        <key>offset</key>
        <string>{-9,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,129}}</string>
        <key>sourceSize</key>
        <string>{153,129}</string>
      </dict>
      <key>Enemy401_atk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,559},{153,129}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,129}}</string>
        <key>sourceSize</key>
        <string>{153,129}</string>
      </dict>
      <key>Enemy401_atk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,694},{153,129}}</string>
        <key>offset</key>
        <string>{15,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,129}}</string>
        <key>sourceSize</key>
        <string>{153,129}</string>
      </dict>
      <key>Enemy401_atk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,694},{153,129}}</string>
        <key>offset</key>
        <string>{24,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,129}}</string>
        <key>sourceSize</key>
        <string>{153,129}</string>
      </dict>
      <key>Enemy401_atk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,559},{153,129}}</string>
        <key>offset</key>
        <string>{10,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,129}}</string>
        <key>sourceSize</key>
        <string>{153,129}</string>
      </dict>
      <key>Enemy401_atk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,138},{153,129}}</string>
        <key>offset</key>
        <string>{-20,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,129}}</string>
        <key>sourceSize</key>
        <string>{153,129}</string>
      </dict>
      <key>Enemy401_atk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,694},{153,129}}</string>
        <key>offset</key>
        <string>{-25,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,129}}</string>
        <key>sourceSize</key>
        <string>{153,129}</string>
      </dict>
      <key>Enemy401_atk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,559},{153,129}}</string>
        <key>offset</key>
        <string>{-14,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,129}}</string>
        <key>sourceSize</key>
        <string>{153,129}</string>
      </dict>
      <key>Enemy401_atk_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,559},{153,129}}</string>
        <key>offset</key>
        <string>{-9,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,129}}</string>
        <key>sourceSize</key>
        <string>{153,129}</string>
      </dict>
      <key>Enemy401_atk_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,694},{153,129}}</string>
        <key>offset</key>
        <string>{-9,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,129}}</string>
        <key>sourceSize</key>
        <string>{153,129}</string>
      </dict>
      <key>Enemy401_die_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{175,133}}</string>
        <key>offset</key>
        <string>{-46,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,142},{175,133}}</string>
        <key>offset</key>
        <string>{-34,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,3},{175,133}}</string>
        <key>offset</key>
        <string>{-16,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,142},{175,133}}</string>
        <key>offset</key>
        <string>{-4,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,3},{175,133}}</string>
        <key>offset</key>
        <string>{7,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,420},{175,133}}</string>
        <key>offset</key>
        <string>{16,-21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,420},{175,133}}</string>
        <key>offset</key>
        <string>{20,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,3},{175,133}}</string>
        <key>offset</key>
        <string>{21,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,281},{175,133}}</string>
        <key>offset</key>
        <string>{19,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,142},{175,133}}</string>
        <key>offset</key>
        <string>{18,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,281},{175,133}}</string>
        <key>offset</key>
        <string>{18,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,281},{175,133}}</string>
        <key>offset</key>
        <string>{18,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,420},{175,133}}</string>
        <key>offset</key>
        <string>{18,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,281},{175,133}}</string>
        <key>offset</key>
        <string>{18,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,420},{175,133}}</string>
        <key>offset</key>
        <string>{18,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_die_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,142},{175,133}}</string>
        <key>offset</key>
        <string>{18,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>Enemy401_move_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,669},{82,126}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{82,126}</string>
      </dict>
      <key>Enemy401_move_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,829},{82,126}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{82,126}</string>
      </dict>
      <key>Enemy401_move_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,559},{82,126}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{82,126}</string>
      </dict>
      <key>Enemy401_move_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,691},{82,126}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{82,126}</string>
      </dict>
      <key>Enemy401_move_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,829},{82,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{82,126}</string>
      </dict>
      <key>Enemy401_move_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,537},{82,126}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{82,126}</string>
      </dict>
      <key>Enemy401_move_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,405},{82,126}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{82,126}</string>
      </dict>
      <key>Enemy401_move_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,829},{82,126}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{82,126}</string>
      </dict>
      <key>Enemy401_move_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,829},{82,126}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{82,126}</string>
      </dict>
      <key>Enemy401_move_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,273},{82,126}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{82,126}</string>
      </dict>
      <key>Enemy401_stand_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,961},{96,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
      <key>Enemy401_stand_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,134},{96,125}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
      <key>Enemy401_stand_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,801},{96,125}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
      <key>Enemy401_stand_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,961},{96,125}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
      <key>Enemy401_stand_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,829},{96,125}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
      <key>Enemy401_stand_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,961},{96,125}}</string>
        <key>offset</key>
        <string>{2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
      <key>Enemy401_stand_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,265},{96,125}}</string>
        <key>offset</key>
        <string>{2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
      <key>Enemy401_stand_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,829},{96,125}}</string>
        <key>offset</key>
        <string>{2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
      <key>Enemy401_stand_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,658},{96,125}}</string>
        <key>offset</key>
        <string>{1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
      <key>Enemy401_stand_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,823},{96,125}}</string>
        <key>offset</key>
        <string>{1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
      <key>Enemy401_stand_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,789},{96,125}}</string>
        <key>offset</key>
        <string>{1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
      <key>Enemy401_stand_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,829},{96,125}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
      <key>Enemy401_stand_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,3},{96,125}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
      <key>Enemy401_stand_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,527},{96,125}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
      <key>Enemy401_stand_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,396},{96,125}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,125}}</string>
        <key>sourceSize</key>
        <string>{96,125}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>enemy401.png</string>
      <key>textureFileName</key>
      <string>enemy401.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>