<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Enemy301_atk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,687},{197,150}}</string>
        <key>offset</key>
        <string>{6,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,150}}</string>
        <key>sourceSize</key>
        <string>{197,150}</string>
      </dict>
      <key>Enemy301_atk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,687},{197,150}}</string>
        <key>offset</key>
        <string>{11,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,150}}</string>
        <key>sourceSize</key>
        <string>{197,150}</string>
      </dict>
      <key>Enemy301_atk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,843},{197,150}}</string>
        <key>offset</key>
        <string>{19,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,150}}</string>
        <key>sourceSize</key>
        <string>{197,150}</string>
      </dict>
      <key>Enemy301_atk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,843},{197,150}}</string>
        <key>offset</key>
        <string>{-20,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,150}}</string>
        <key>sourceSize</key>
        <string>{197,150}</string>
      </dict>
      <key>Enemy301_atk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,843},{197,150}}</string>
        <key>offset</key>
        <string>{-28,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,150}}</string>
        <key>sourceSize</key>
        <string>{197,150}</string>
      </dict>
      <key>Enemy301_atk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,687},{197,150}}</string>
        <key>offset</key>
        <string>{-18,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,150}}</string>
        <key>sourceSize</key>
        <string>{197,150}</string>
      </dict>
      <key>Enemy301_atk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,687},{197,150}}</string>
        <key>offset</key>
        <string>{-9,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,150}}</string>
        <key>sourceSize</key>
        <string>{197,150}</string>
      </dict>
      <key>Enemy301_atk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,516},{197,150}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,150}}</string>
        <key>sourceSize</key>
        <string>{197,150}</string>
      </dict>
      <key>Enemy301_atk_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,843},{197,150}}</string>
        <key>offset</key>
        <string>{6,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,150}}</string>
        <key>sourceSize</key>
        <string>{197,150}</string>
      </dict>
      <key>Enemy301_die_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,345},{220,165}}</string>
        <key>offset</key>
        <string>{-52,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_die_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,174},{220,165}}</string>
        <key>offset</key>
        <string>{-44,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_die_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,516},{220,165}}</string>
        <key>offset</key>
        <string>{-28,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_die_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,345},{220,165}}</string>
        <key>offset</key>
        <string>{-24,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_die_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,3},{220,165}}</string>
        <key>offset</key>
        <string>{-25,-19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_die_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,345},{220,165}}</string>
        <key>offset</key>
        <string>{-26,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_die_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,3},{220,165}}</string>
        <key>offset</key>
        <string>{-24,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_die_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,516},{220,165}}</string>
        <key>offset</key>
        <string>{-22,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_die_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,174},{220,165}}</string>
        <key>offset</key>
        <string>{1,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_die_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,345},{220,165}}</string>
        <key>offset</key>
        <string>{5,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_die_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,516},{220,165}}</string>
        <key>offset</key>
        <string>{6,-43}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_die_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,174},{220,165}}</string>
        <key>offset</key>
        <string>{8,-44}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_die_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{220,165}}</string>
        <key>offset</key>
        <string>{9,-47}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_die_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,3},{220,165}}</string>
        <key>offset</key>
        <string>{10,-49}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_die_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,174},{220,165}}</string>
        <key>offset</key>
        <string>{12,-51}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,165}}</string>
        <key>sourceSize</key>
        <string>{220,165}</string>
      </dict>
      <key>Enemy301_move_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,611},{128,146}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,915},{128,146}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,3},{128,146}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,999},{128,146}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,3},{128,146}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,763},{128,146}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,999},{128,146}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,307},{128,146}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,459},{128,146}}</string>
        <key>offset</key>
        <string>{1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,459},{128,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,155},{128,146}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,999},{128,146}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,763},{128,146}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,999},{128,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,155},{128,146}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,999},{128,146}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,611},{128,146}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,999},{128,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,307},{128,146}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_move_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,999},{128,146}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>Enemy301_stand_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{1083,763},{119,142}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,1067},{119,142}}</string>
        <key>offset</key>
        <string>{-2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,1151},{119,142}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1175,299},{119,142}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1299},{119,142}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,1299},{119,142}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,1299},{119,142}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1128,1063},{119,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,1151},{119,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,1151},{119,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1175,3},{119,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1175,151},{119,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1075,915},{119,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,1151},{119,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,1151},{119,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,1151},{119,142}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,1151},{119,142}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1175,447},{119,142}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1175,595},{119,142}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>Enemy301_stand_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1151},{119,142}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>enemy301.png</string>
      <key>textureFileName</key>
      <string>enemy301.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>