<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Enemy603_atk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,803},{260,194}}</string>
        <key>offset</key>
        <string>{1,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,194}}</string>
        <key>sourceSize</key>
        <string>{260,194}</string>
      </dict>
      <key>Enemy603_atk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,1003},{260,194}}</string>
        <key>offset</key>
        <string>{0,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,194}}</string>
        <key>sourceSize</key>
        <string>{260,194}</string>
      </dict>
      <key>Enemy603_atk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,1003},{260,194}}</string>
        <key>offset</key>
        <string>{10,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,194}}</string>
        <key>sourceSize</key>
        <string>{260,194}</string>
      </dict>
      <key>Enemy603_atk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1221,603},{260,194}}</string>
        <key>offset</key>
        <string>{14,10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,194}}</string>
        <key>sourceSize</key>
        <string>{260,194}</string>
      </dict>
      <key>Enemy603_atk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1003},{260,194}}</string>
        <key>offset</key>
        <string>{38,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,194}}</string>
        <key>sourceSize</key>
        <string>{260,194}</string>
      </dict>
      <key>Enemy603_atk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1221,203},{260,194}}</string>
        <key>offset</key>
        <string>{52,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,194}}</string>
        <key>sourceSize</key>
        <string>{260,194}</string>
      </dict>
      <key>Enemy603_atk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,1203},{260,194}}</string>
        <key>offset</key>
        <string>{-51,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,194}}</string>
        <key>sourceSize</key>
        <string>{260,194}</string>
      </dict>
      <key>Enemy603_atk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1221,3},{260,194}}</string>
        <key>offset</key>
        <string>{-35,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,194}}</string>
        <key>sourceSize</key>
        <string>{260,194}</string>
      </dict>
      <key>Enemy603_atk_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,1203},{260,194}}</string>
        <key>offset</key>
        <string>{-24,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,194}}</string>
        <key>sourceSize</key>
        <string>{260,194}</string>
      </dict>
      <key>Enemy603_atk_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,1003},{260,194}}</string>
        <key>offset</key>
        <string>{-21,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,194}}</string>
        <key>sourceSize</key>
        <string>{260,194}</string>
      </dict>
      <key>Enemy603_atk_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,1203},{260,194}}</string>
        <key>offset</key>
        <string>{-13,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,194}}</string>
        <key>sourceSize</key>
        <string>{260,194}</string>
      </dict>
      <key>Enemy603_atk_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1221,403},{260,194}}</string>
        <key>offset</key>
        <string>{-8,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,194}}</string>
        <key>sourceSize</key>
        <string>{260,194}</string>
      </dict>
      <key>Enemy603_atk_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1203},{260,194}}</string>
        <key>offset</key>
        <string>{-1,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,194}}</string>
        <key>sourceSize</key>
        <string>{260,194}</string>
      </dict>
      <key>Enemy603_die_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,203},{400,194}}</string>
        <key>offset</key>
        <string>{-9,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,194}}</string>
        <key>sourceSize</key>
        <string>{400,194}</string>
      </dict>
      <key>Enemy603_die_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,203},{400,194}}</string>
        <key>offset</key>
        <string>{14,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,194}}</string>
        <key>sourceSize</key>
        <string>{400,194}</string>
      </dict>
      <key>Enemy603_die_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,3},{400,194}}</string>
        <key>offset</key>
        <string>{46,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,194}}</string>
        <key>sourceSize</key>
        <string>{400,194}</string>
      </dict>
      <key>Enemy603_die_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{400,194}}</string>
        <key>offset</key>
        <string>{58,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,194}}</string>
        <key>sourceSize</key>
        <string>{400,194}</string>
      </dict>
      <key>Enemy603_die_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,403},{400,194}}</string>
        <key>offset</key>
        <string>{69,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,194}}</string>
        <key>sourceSize</key>
        <string>{400,194}</string>
      </dict>
      <key>Enemy603_die_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,603},{400,194}}</string>
        <key>offset</key>
        <string>{73,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,194}}</string>
        <key>sourceSize</key>
        <string>{400,194}</string>
      </dict>
      <key>Enemy603_die_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,3},{400,194}}</string>
        <key>offset</key>
        <string>{75,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,194}}</string>
        <key>sourceSize</key>
        <string>{400,194}</string>
      </dict>
      <key>Enemy603_die_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,403},{400,194}}</string>
        <key>offset</key>
        <string>{76,-25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,194}}</string>
        <key>sourceSize</key>
        <string>{400,194}</string>
      </dict>
      <key>Enemy603_die_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,603},{400,194}}</string>
        <key>offset</key>
        <string>{76,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,194}}</string>
        <key>sourceSize</key>
        <string>{400,194}</string>
      </dict>
      <key>Enemy603_die_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,203},{400,194}}</string>
        <key>offset</key>
        <string>{77,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,194}}</string>
        <key>sourceSize</key>
        <string>{400,194}</string>
      </dict>
      <key>Enemy603_die_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,403},{400,194}}</string>
        <key>offset</key>
        <string>{77,-34}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,194}}</string>
        <key>sourceSize</key>
        <string>{400,194}</string>
      </dict>
      <key>Enemy603_die_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,603},{400,194}}</string>
        <key>offset</key>
        <string>{68,-51}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,194}}</string>
        <key>sourceSize</key>
        <string>{400,194}</string>
      </dict>
      <key>Enemy603_die_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,803},{400,194}}</string>
        <key>offset</key>
        <string>{60,-56}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,194}}</string>
        <key>sourceSize</key>
        <string>{400,194}</string>
      </dict>
      <key>Enemy603_die_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,803},{400,194}}</string>
        <key>offset</key>
        <string>{58,-56}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,194}}</string>
        <key>sourceSize</key>
        <string>{400,194}</string>
      </dict>
      <key>Enemy603_move_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,1603},{150,194}}</string>
        <key>offset</key>
        <string>{-9,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1095,1603},{150,194}}</string>
        <key>offset</key>
        <string>{-9,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1563,1003},{150,194}}</string>
        <key>offset</key>
        <string>{-8,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1067,1003},{150,194}}</string>
        <key>offset</key>
        <string>{-5,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1643,403},{150,194}}</string>
        <key>offset</key>
        <string>{-3,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1799,203},{150,194}}</string>
        <key>offset</key>
        <string>{-1,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1487,203},{150,194}}</string>
        <key>offset</key>
        <string>{2,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1487,603},{150,194}}</string>
        <key>offset</key>
        <string>{2,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1407,1403},{150,194}}</string>
        <key>offset</key>
        <string>{1,10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,1603},{150,194}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1691,1203},{150,194}}</string>
        <key>offset</key>
        <string>{-1,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,1403},{150,194}}</string>
        <key>offset</key>
        <string>{-2,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1643,603},{150,194}}</string>
        <key>offset</key>
        <string>{0,10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1407,1603},{150,194}}</string>
        <key>offset</key>
        <string>{1,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,1403},{150,194}}</string>
        <key>offset</key>
        <string>{2,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1799,3},{150,194}}</string>
        <key>offset</key>
        <string>{-1,13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1407,1003},{150,194}}</string>
        <key>offset</key>
        <string>{-3,13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1237,803},{150,194}}</string>
        <key>offset</key>
        <string>{-5,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,1603},{150,194}}</string>
        <key>offset</key>
        <string>{-8,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_move_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1487,403},{150,194}}</string>
        <key>offset</key>
        <string>{-9,10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1403},{150,194}}</string>
        <key>offset</key>
        <string>{-4,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1223,1203},{150,194}}</string>
        <key>offset</key>
        <string>{-4,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,1603},{150,194}}</string>
        <key>offset</key>
        <string>{-4,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,1403},{150,194}}</string>
        <key>offset</key>
        <string>{-4,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1081,803},{150,194}}</string>
        <key>offset</key>
        <string>{-4,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1223,1003},{150,194}}</string>
        <key>offset</key>
        <string>{-4,10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1095,1403},{150,194}}</string>
        <key>offset</key>
        <string>{-4,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1251,1603},{150,194}}</string>
        <key>offset</key>
        <string>{-4,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,1403},{150,194}}</string>
        <key>offset</key>
        <string>{-4,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,1603},{150,194}}</string>
        <key>offset</key>
        <string>{-4,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1067,1203},{150,194}}</string>
        <key>offset</key>
        <string>{-4,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1407,803},{150,194}}</string>
        <key>offset</key>
        <string>{-4,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1535,1203},{150,194}}</string>
        <key>offset</key>
        <string>{-4,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1487,3},{150,194}}</string>
        <key>offset</key>
        <string>{-4,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1603},{150,194}}</string>
        <key>offset</key>
        <string>{-4,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1379,1203},{150,194}}</string>
        <key>offset</key>
        <string>{-4,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,1603},{150,194}}</string>
        <key>offset</key>
        <string>{-4,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1251,1403},{150,194}}</string>
        <key>offset</key>
        <string>{-4,7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1643,203},{150,194}}</string>
        <key>offset</key>
        <string>{-4,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,1403},{150,194}}</string>
        <key>offset</key>
        <string>{-4,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1563,803},{150,194}}</string>
        <key>offset</key>
        <string>{-3,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,1403},{150,194}}</string>
        <key>offset</key>
        <string>{-3,10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1563,1603},{150,194}}</string>
        <key>offset</key>
        <string>{-4,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1563,1403},{150,194}}</string>
        <key>offset</key>
        <string>{-3,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
      <key>Enemy603_stand_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{1643,3},{150,194}}</string>
        <key>offset</key>
        <string>{-3,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,194}}</string>
        <key>sourceSize</key>
        <string>{150,194}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>enemy603.png</string>
      <key>textureFileName</key>
      <string>enemy603.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>