<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,1},{102,106}}</string>
        <key>offset</key>
        <string>{-2,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,106}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,121},{106,110}}</string>
        <key>offset</key>
        <string>{0,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,110}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,1},{102,128}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,1},{106,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,1},{110,126}}</string>
        <key>offset</key>
        <string>{-2,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,126}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,129},{114,126}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,126}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>00.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,1},{114,126}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,126}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{114,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>02.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,1},{110,128}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,131},{110,118}}</string>
        <key>offset</key>
        <string>{2,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,118}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>04.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,131},{110,118}}</string>
        <key>offset</key>
        <string>{2,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,118}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>05.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,131},{106,118}}</string>
        <key>offset</key>
        <string>{0,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,118}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>06.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,131},{102,118}}</string>
        <key>offset</key>
        <string>{2,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,118}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>07.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,131},{102,118}}</string>
        <key>offset</key>
        <string>{2,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,118}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>08.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,129},{98,118}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,118}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>09.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,1},{98,118}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,118}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fire.png</string>
      <key>textureFileName</key>
      <string>fire.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>