<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Enemy302_atk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,633},{199,116}}</string>
        <key>offset</key>
        <string>{5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,116}}</string>
        <key>sourceSize</key>
        <string>{199,116}</string>
      </dict>
      <key>Enemy302_atk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,130},{199,116}}</string>
        <key>offset</key>
        <string>{21,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,116}}</string>
        <key>sourceSize</key>
        <string>{199,116}</string>
      </dict>
      <key>Enemy302_atk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,633},{199,116}}</string>
        <key>offset</key>
        <string>{31,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,116}}</string>
        <key>sourceSize</key>
        <string>{199,116}</string>
      </dict>
      <key>Enemy302_atk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,511},{199,116}}</string>
        <key>offset</key>
        <string>{-16,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,116}}</string>
        <key>sourceSize</key>
        <string>{199,116}</string>
      </dict>
      <key>Enemy302_atk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,379},{199,116}}</string>
        <key>offset</key>
        <string>{-25,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,116}}</string>
        <key>sourceSize</key>
        <string>{199,116}</string>
      </dict>
      <key>Enemy302_atk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,130},{199,116}}</string>
        <key>offset</key>
        <string>{-19,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,116}}</string>
        <key>sourceSize</key>
        <string>{199,116}</string>
      </dict>
      <key>Enemy302_atk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,760},{199,116}}</string>
        <key>offset</key>
        <string>{-9,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,116}}</string>
        <key>sourceSize</key>
        <string>{199,116}</string>
      </dict>
      <key>Enemy302_atk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,760},{199,116}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,116}}</string>
        <key>sourceSize</key>
        <string>{199,116}</string>
      </dict>
      <key>Enemy302_atk_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{199,116}}</string>
        <key>offset</key>
        <string>{6,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,116}}</string>
        <key>sourceSize</key>
        <string>{199,116}</string>
      </dict>
      <key>Enemy302_atk_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,379},{199,116}}</string>
        <key>offset</key>
        <string>{5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,116}}</string>
        <key>sourceSize</key>
        <string>{199,116}</string>
      </dict>
      <key>Enemy302_die_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,379},{199,121}}</string>
        <key>offset</key>
        <string>{-29,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,633},{199,121}}</string>
        <key>offset</key>
        <string>{4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,3},{199,121}}</string>
        <key>offset</key>
        <string>{19,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,384},{199,121}}</string>
        <key>offset</key>
        <string>{22,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,3},{199,121}}</string>
        <key>offset</key>
        <string>{22,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,628},{199,121}}</string>
        <key>offset</key>
        <string>{22,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,506},{199,121}}</string>
        <key>offset</key>
        <string>{22,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,130},{199,121}}</string>
        <key>offset</key>
        <string>{19,-19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,3},{199,121}}</string>
        <key>offset</key>
        <string>{18,-26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,252},{199,121}}</string>
        <key>offset</key>
        <string>{19,-33}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,501},{199,121}}</string>
        <key>offset</key>
        <string>{18,-38}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,501},{199,121}}</string>
        <key>offset</key>
        <string>{18,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,755},{199,121}}</string>
        <key>offset</key>
        <string>{18,-40}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,252},{199,121}}</string>
        <key>offset</key>
        <string>{18,-42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,125},{199,121}}</string>
        <key>offset</key>
        <string>{18,-43}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,252},{199,121}}</string>
        <key>offset</key>
        <string>{18,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,755},{199,121}}</string>
        <key>offset</key>
        <string>{18,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_die_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,257},{199,121}}</string>
        <key>offset</key>
        <string>{19,-48}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,121}}</string>
        <key>sourceSize</key>
        <string>{199,121}</string>
      </dict>
      <key>Enemy302_move_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,345},{160,108}}</string>
        <key>offset</key>
        <string>{-5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,108}}</string>
        <key>sourceSize</key>
        <string>{160,108}</string>
      </dict>
      <key>Enemy302_move_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,459},{160,108}}</string>
        <key>offset</key>
        <string>{-6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,108}}</string>
        <key>sourceSize</key>
        <string>{160,108}</string>
      </dict>
      <key>Enemy302_move_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,3},{160,108}}</string>
        <key>offset</key>
        <string>{-5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,108}}</string>
        <key>sourceSize</key>
        <string>{160,108}</string>
      </dict>
      <key>Enemy302_move_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,117},{160,108}}</string>
        <key>offset</key>
        <string>{-5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,108}}</string>
        <key>sourceSize</key>
        <string>{160,108}</string>
      </dict>
      <key>Enemy302_move_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,882},{160,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,108}}</string>
        <key>sourceSize</key>
        <string>{160,108}</string>
      </dict>
      <key>Enemy302_move_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,573},{160,108}}</string>
        <key>offset</key>
        <string>{-3,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,108}}</string>
        <key>sourceSize</key>
        <string>{160,108}</string>
      </dict>
      <key>Enemy302_move_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,687},{160,108}}</string>
        <key>offset</key>
        <string>{-6,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,108}}</string>
        <key>sourceSize</key>
        <string>{160,108}</string>
      </dict>
      <key>Enemy302_move_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,882},{160,108}}</string>
        <key>offset</key>
        <string>{-7,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,108}}</string>
        <key>sourceSize</key>
        <string>{160,108}</string>
      </dict>
      <key>Enemy302_move_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,231},{160,108}}</string>
        <key>offset</key>
        <string>{-7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,108}}</string>
        <key>sourceSize</key>
        <string>{160,108}</string>
      </dict>
      <key>Enemy302_move_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,801},{160,108}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,108}}</string>
        <key>sourceSize</key>
        <string>{160,108}</string>
      </dict>
      <key>Enemy302_stand_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,882},{154,113}}</string>
        <key>offset</key>
        <string>{-5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,996},{154,113}}</string>
        <key>offset</key>
        <string>{-5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,598},{154,113}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,360},{154,113}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,241},{154,113}}</string>
        <key>offset</key>
        <string>{1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1115},{154,113}}</string>
        <key>offset</key>
        <string>{1,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,717},{154,113}}</string>
        <key>offset</key>
        <string>{-1,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,955},{154,113}}</string>
        <key>offset</key>
        <string>{-2,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,996},{154,113}}</string>
        <key>offset</key>
        <string>{-3,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,1034},{154,113}}</string>
        <key>offset</key>
        <string>{-1,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,3},{154,113}}</string>
        <key>offset</key>
        <string>{2,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,122},{154,113}}</string>
        <key>offset</key>
        <string>{3,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,955},{154,113}}</string>
        <key>offset</key>
        <string>{0,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,915},{154,113}}</string>
        <key>offset</key>
        <string>{-2,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,836},{154,113}}</string>
        <key>offset</key>
        <string>{-2,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,1074},{154,113}}</string>
        <key>offset</key>
        <string>{-1,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,996},{154,113}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,479},{154,113}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,1115},{154,113}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy302_stand_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,1001},{154,113}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>enemy302.png</string>
      <key>textureFileName</key>
      <string>enemy302.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>