<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Enemy201_atk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,708},{160,126}}</string>
        <key>offset</key>
        <string>{-11,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,126}}</string>
        <key>sourceSize</key>
        <string>{160,126}</string>
      </dict>
      <key>Enemy201_atk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,3},{160,126}}</string>
        <key>offset</key>
        <string>{8,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,126}}</string>
        <key>sourceSize</key>
        <string>{160,126}</string>
      </dict>
      <key>Enemy201_atk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,267},{160,126}}</string>
        <key>offset</key>
        <string>{28,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,126}}</string>
        <key>sourceSize</key>
        <string>{160,126}</string>
      </dict>
      <key>Enemy201_atk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,708},{160,126}}</string>
        <key>offset</key>
        <string>{-2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,126}}</string>
        <key>sourceSize</key>
        <string>{160,126}</string>
      </dict>
      <key>Enemy201_atk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,663},{160,126}}</string>
        <key>offset</key>
        <string>{-31,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,126}}</string>
        <key>sourceSize</key>
        <string>{160,126}</string>
      </dict>
      <key>Enemy201_atk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,708},{160,126}}</string>
        <key>offset</key>
        <string>{-32,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,126}}</string>
        <key>sourceSize</key>
        <string>{160,126}</string>
      </dict>
      <key>Enemy201_atk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,135},{160,126}}</string>
        <key>offset</key>
        <string>{-26,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,126}}</string>
        <key>sourceSize</key>
        <string>{160,126}</string>
      </dict>
      <key>Enemy201_atk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,531},{160,126}}</string>
        <key>offset</key>
        <string>{-17,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,126}}</string>
        <key>sourceSize</key>
        <string>{160,126}</string>
      </dict>
      <key>Enemy201_atk_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,399},{160,126}}</string>
        <key>offset</key>
        <string>{-11,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,126}}</string>
        <key>sourceSize</key>
        <string>{160,126}</string>
      </dict>
      <key>Enemy201_atk_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,708},{160,126}}</string>
        <key>offset</key>
        <string>{-11,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,126}}</string>
        <key>sourceSize</key>
        <string>{160,126}</string>
      </dict>
      <key>Enemy201_die_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,915},{151,146}}</string>
        <key>offset</key>
        <string>{-13,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,307},{151,146}}</string>
        <key>offset</key>
        <string>{-14,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,3},{151,146}}</string>
        <key>offset</key>
        <string>{-17,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,763},{151,146}}</string>
        <key>offset</key>
        <string>{-17,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,992},{151,146}}</string>
        <key>offset</key>
        <string>{-10,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,155},{151,146}}</string>
        <key>offset</key>
        <string>{-1,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,155},{151,146}}</string>
        <key>offset</key>
        <string>{3,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,840},{151,146}}</string>
        <key>offset</key>
        <string>{6,-36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,992},{151,146}}</string>
        <key>offset</key>
        <string>{7,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,992},{151,146}}</string>
        <key>offset</key>
        <string>{9,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,3},{151,146}}</string>
        <key>offset</key>
        <string>{13,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,840},{151,146}}</string>
        <key>offset</key>
        <string>{16,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,307},{151,146}}</string>
        <key>offset</key>
        <string>{16,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,611},{151,146}}</string>
        <key>offset</key>
        <string>{16,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,840},{151,146}}</string>
        <key>offset</key>
        <string>{16,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,840},{151,146}}</string>
        <key>offset</key>
        <string>{16,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,840},{151,146}}</string>
        <key>offset</key>
        <string>{16,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,459},{151,146}}</string>
        <key>offset</key>
        <string>{16,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,992},{151,146}}</string>
        <key>offset</key>
        <string>{16,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_die_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,992},{151,146}}</string>
        <key>offset</key>
        <string>{16,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>Enemy201_move_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,567},{166,135}}</string>
        <key>offset</key>
        <string>{-27,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,144},{166,135}}</string>
        <key>offset</key>
        <string>{-28,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,567},{166,135}}</string>
        <key>offset</key>
        <string>{-28,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,285},{166,135}}</string>
        <key>offset</key>
        <string>{-22,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,426},{166,135}}</string>
        <key>offset</key>
        <string>{-15,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,3},{166,135}}</string>
        <key>offset</key>
        <string>{-8,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,285},{166,135}}</string>
        <key>offset</key>
        <string>{-7,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,3},{166,135}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,426},{166,135}}</string>
        <key>offset</key>
        <string>{9,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,567},{166,135}}</string>
        <key>offset</key>
        <string>{19,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,144},{166,135}}</string>
        <key>offset</key>
        <string>{28,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,3},{166,135}}</string>
        <key>offset</key>
        <string>{32,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,426},{166,135}}</string>
        <key>offset</key>
        <string>{31,-19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,285},{166,135}}</string>
        <key>offset</key>
        <string>{28,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,144},{166,135}}</string>
        <key>offset</key>
        <string>{21,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,426},{166,135}}</string>
        <key>offset</key>
        <string>{14,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{166,135}}</string>
        <key>offset</key>
        <string>{4,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,144},{166,135}}</string>
        <key>offset</key>
        <string>{-7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,567},{166,135}}</string>
        <key>offset</key>
        <string>{-8,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_move_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,285},{166,135}}</string>
        <key>offset</key>
        <string>{-19,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>Enemy201_stand_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,1279},{117,129}}</string>
        <key>offset</key>
        <string>{-9,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,1144},{117,129}}</string>
        <key>offset</key>
        <string>{-9,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,1144},{117,129}}</string>
        <key>offset</key>
        <string>{-9,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,999},{117,129}}</string>
        <key>offset</key>
        <string>{-7,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1171,408},{117,129}}</string>
        <key>offset</key>
        <string>{-5,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,1144},{117,129}}</string>
        <key>offset</key>
        <string>{-3,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,459},{117,129}}</string>
        <key>offset</key>
        <string>{-3,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,1144},{117,129}}</string>
        <key>offset</key>
        <string>{-4,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,864},{117,129}}</string>
        <key>offset</key>
        <string>{-4,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,1134},{117,129}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,1144},{117,129}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,1144},{117,129}}</string>
        <key>offset</key>
        <string>{3,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,1134},{117,129}}</string>
        <key>offset</key>
        <string>{5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,813},{117,129}}</string>
        <key>offset</key>
        <string>{6,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1171,3},{117,129}}</string>
        <key>offset</key>
        <string>{6,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,543},{117,129}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,999},{117,129}}</string>
        <key>offset</key>
        <string>{8,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1171,273},{117,129}}</string>
        <key>offset</key>
        <string>{-5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1279},{117,129}}</string>
        <key>offset</key>
        <string>{5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,678},{117,129}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,594},{117,129}}</string>
        <key>offset</key>
        <string>{-3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1144},{117,129}}</string>
        <key>offset</key>
        <string>{-3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1171,138},{117,129}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,1134},{117,129}}</string>
        <key>offset</key>
        <string>{-4,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>Enemy201_stand_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,729},{117,129}}</string>
        <key>offset</key>
        <string>{-7,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>enemy201.png</string>
      <key>textureFileName</key>
      <string>enemy201.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>