<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Enemy602_atk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,623},{196,116}}</string>
        <key>offset</key>
        <string>{4,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,116}}</string>
        <key>sourceSize</key>
        <string>{196,116}</string>
      </dict>
      <key>Enemy602_atk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,623},{196,116}}</string>
        <key>offset</key>
        <string>{20,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,116}}</string>
        <key>sourceSize</key>
        <string>{196,116}</string>
      </dict>
      <key>Enemy602_atk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,745},{196,116}}</string>
        <key>offset</key>
        <string>{30,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,116}}</string>
        <key>sourceSize</key>
        <string>{196,116}</string>
      </dict>
      <key>Enemy602_atk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,745},{196,116}}</string>
        <key>offset</key>
        <string>{-17,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,116}}</string>
        <key>sourceSize</key>
        <string>{196,116}</string>
      </dict>
      <key>Enemy602_atk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,375},{196,116}}</string>
        <key>offset</key>
        <string>{-26,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,116}}</string>
        <key>sourceSize</key>
        <string>{196,116}</string>
      </dict>
      <key>Enemy602_atk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,745},{196,116}}</string>
        <key>offset</key>
        <string>{-21,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,116}}</string>
        <key>sourceSize</key>
        <string>{196,116}</string>
      </dict>
      <key>Enemy602_atk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,623},{196,116}}</string>
        <key>offset</key>
        <string>{-11,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,116}}</string>
        <key>sourceSize</key>
        <string>{196,116}</string>
      </dict>
      <key>Enemy602_atk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,497},{196,116}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,116}}</string>
        <key>sourceSize</key>
        <string>{196,116}</string>
      </dict>
      <key>Enemy602_atk_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,745},{196,116}}</string>
        <key>offset</key>
        <string>{4,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,116}}</string>
        <key>sourceSize</key>
        <string>{196,116}</string>
      </dict>
      <key>Enemy602_atk_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,623},{196,116}}</string>
        <key>offset</key>
        <string>{4,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,116}}</string>
        <key>sourceSize</key>
        <string>{196,116}</string>
      </dict>
      <key>Enemy602_die_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,499},{199,118}}</string>
        <key>offset</key>
        <string>{-29,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{199,118}}</string>
        <key>offset</key>
        <string>{5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,499},{199,118}}</string>
        <key>offset</key>
        <string>{19,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,127},{199,118}}</string>
        <key>offset</key>
        <string>{22,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,375},{199,118}}</string>
        <key>offset</key>
        <string>{22,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,127},{199,118}}</string>
        <key>offset</key>
        <string>{22,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,375},{199,118}}</string>
        <key>offset</key>
        <string>{22,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,251},{199,118}}</string>
        <key>offset</key>
        <string>{19,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,3},{199,118}}</string>
        <key>offset</key>
        <string>{18,-25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,251},{199,118}}</string>
        <key>offset</key>
        <string>{19,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,251},{199,118}}</string>
        <key>offset</key>
        <string>{18,-36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,3},{199,118}}</string>
        <key>offset</key>
        <string>{18,-37}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,251},{199,118}}</string>
        <key>offset</key>
        <string>{18,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,127},{199,118}}</string>
        <key>offset</key>
        <string>{18,-41}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,3},{199,118}}</string>
        <key>offset</key>
        <string>{18,-42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,375},{199,118}}</string>
        <key>offset</key>
        <string>{18,-43}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,127},{199,118}}</string>
        <key>offset</key>
        <string>{18,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_die_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,499},{199,118}}</string>
        <key>offset</key>
        <string>{19,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,118}}</string>
        <key>sourceSize</key>
        <string>{199,118}</string>
      </dict>
      <key>Enemy602_move_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,339},{160,106}}</string>
        <key>offset</key>
        <string>{-7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,106}}</string>
        <key>sourceSize</key>
        <string>{160,106}</string>
      </dict>
      <key>Enemy602_move_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,867},{160,106}}</string>
        <key>offset</key>
        <string>{-8,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,106}}</string>
        <key>sourceSize</key>
        <string>{160,106}</string>
      </dict>
      <key>Enemy602_move_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,867},{160,106}}</string>
        <key>offset</key>
        <string>{-10,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,106}}</string>
        <key>sourceSize</key>
        <string>{160,106}</string>
      </dict>
      <key>Enemy602_move_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,115},{160,106}}</string>
        <key>offset</key>
        <string>{-11,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,106}}</string>
        <key>sourceSize</key>
        <string>{160,106}</string>
      </dict>
      <key>Enemy602_move_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,451},{160,106}}</string>
        <key>offset</key>
        <string>{-6,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,106}}</string>
        <key>sourceSize</key>
        <string>{160,106}</string>
      </dict>
      <key>Enemy602_move_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,3},{160,106}}</string>
        <key>offset</key>
        <string>{1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,106}}</string>
        <key>sourceSize</key>
        <string>{160,106}</string>
      </dict>
      <key>Enemy602_move_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,867},{160,106}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,106}}</string>
        <key>sourceSize</key>
        <string>{160,106}</string>
      </dict>
      <key>Enemy602_move_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,675},{160,106}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,106}}</string>
        <key>sourceSize</key>
        <string>{160,106}</string>
      </dict>
      <key>Enemy602_move_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,563},{160,106}}</string>
        <key>offset</key>
        <string>{-3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,106}}</string>
        <key>sourceSize</key>
        <string>{160,106}</string>
      </dict>
      <key>Enemy602_move_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,227},{160,106}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,106}}</string>
        <key>sourceSize</key>
        <string>{160,106}</string>
      </dict>
      <key>Enemy602_stand_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,241},{154,113}}</string>
        <key>offset</key>
        <string>{-5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,360},{154,113}}</string>
        <key>offset</key>
        <string>{-5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,979},{154,113}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,1025},{154,113}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,3},{154,113}}</string>
        <key>offset</key>
        <string>{1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,787},{154,113}}</string>
        <key>offset</key>
        <string>{1,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,906},{154,113}}</string>
        <key>offset</key>
        <string>{-1,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,979},{154,113}}</string>
        <key>offset</key>
        <string>{-2,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,979},{154,113}}</string>
        <key>offset</key>
        <string>{-3,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,479},{154,113}}</string>
        <key>offset</key>
        <string>{-2,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,122},{154,113}}</string>
        <key>offset</key>
        <string>{2,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,979},{154,113}}</string>
        <key>offset</key>
        <string>{3,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,867},{154,113}}</string>
        <key>offset</key>
        <string>{0,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1098},{154,113}}</string>
        <key>offset</key>
        <string>{-2,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,1098},{154,113}}</string>
        <key>offset</key>
        <string>{-2,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,836},{154,113}}</string>
        <key>offset</key>
        <string>{-1,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,717},{154,113}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,986},{154,113}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,598},{154,113}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
      <key>Enemy602_stand_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,955},{154,113}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,113}}</string>
        <key>sourceSize</key>
        <string>{154,113}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>enemy602.png</string>
      <key>textureFileName</key>
      <string>enemy602.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>