<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Enemy502_atk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,618},{170,141}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,141}}</string>
        <key>sourceSize</key>
        <string>{170,141}</string>
      </dict>
      <key>Enemy502_atk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,3},{170,141}}</string>
        <key>offset</key>
        <string>{-2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,141}}</string>
        <key>sourceSize</key>
        <string>{170,141}</string>
      </dict>
      <key>Enemy502_atk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,627},{170,141}}</string>
        <key>offset</key>
        <string>{-4,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,141}}</string>
        <key>sourceSize</key>
        <string>{170,141}</string>
      </dict>
      <key>Enemy502_atk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,297},{170,141}}</string>
        <key>offset</key>
        <string>{-5,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,141}}</string>
        <key>sourceSize</key>
        <string>{170,141}</string>
      </dict>
      <key>Enemy502_atk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,774},{170,141}}</string>
        <key>offset</key>
        <string>{-8,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,141}}</string>
        <key>sourceSize</key>
        <string>{170,141}</string>
      </dict>
      <key>Enemy502_atk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,627},{170,141}}</string>
        <key>offset</key>
        <string>{-19,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,141}}</string>
        <key>sourceSize</key>
        <string>{170,141}</string>
      </dict>
      <key>Enemy502_atk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,627},{170,141}}</string>
        <key>offset</key>
        <string>{-4,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,141}}</string>
        <key>sourceSize</key>
        <string>{170,141}</string>
      </dict>
      <key>Enemy502_atk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,150},{170,141}}</string>
        <key>offset</key>
        <string>{23,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,141}}</string>
        <key>sourceSize</key>
        <string>{170,141}</string>
      </dict>
      <key>Enemy502_atk_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,444},{170,141}}</string>
        <key>offset</key>
        <string>{16,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,141}}</string>
        <key>sourceSize</key>
        <string>{170,141}</string>
      </dict>
      <key>Enemy502_atk_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,627},{170,141}}</string>
        <key>offset</key>
        <string>{8,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,141}}</string>
        <key>sourceSize</key>
        <string>{170,141}</string>
      </dict>
      <key>Enemy502_atk_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,471},{170,141}}</string>
        <key>offset</key>
        <string>{3,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,141}}</string>
        <key>sourceSize</key>
        <string>{170,141}</string>
      </dict>
      <key>Enemy502_atk_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,774},{170,141}}</string>
        <key>offset</key>
        <string>{7,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,141}}</string>
        <key>sourceSize</key>
        <string>{170,141}</string>
      </dict>
      <key>Enemy502_die_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,315},{186,150}}</string>
        <key>offset</key>
        <string>{-54,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_die_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,471},{186,150}}</string>
        <key>offset</key>
        <string>{-27,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_die_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,159},{186,150}}</string>
        <key>offset</key>
        <string>{-8,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_die_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,159},{186,150}}</string>
        <key>offset</key>
        <string>{5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_die_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,315},{186,150}}</string>
        <key>offset</key>
        <string>{9,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_die_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,315},{186,150}}</string>
        <key>offset</key>
        <string>{12,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_die_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,315},{186,150}}</string>
        <key>offset</key>
        <string>{15,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_die_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,471},{186,150}}</string>
        <key>offset</key>
        <string>{16,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_die_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,471},{186,150}}</string>
        <key>offset</key>
        <string>{17,-23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_die_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,3},{186,150}}</string>
        <key>offset</key>
        <string>{17,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_die_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,159},{186,150}}</string>
        <key>offset</key>
        <string>{17,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_die_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{186,150}}</string>
        <key>offset</key>
        <string>{17,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_die_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,3},{186,150}}</string>
        <key>offset</key>
        <string>{17,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_die_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,159},{186,150}}</string>
        <key>offset</key>
        <string>{17,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_die_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,3},{186,150}}</string>
        <key>offset</key>
        <string>{17,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,150}}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>Enemy502_move_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,774},{79,134}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,921},{79,134}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,914},{79,134}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,921},{79,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,905},{79,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,143},{79,134}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,921},{79,134}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,774},{79,134}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,765},{79,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,914},{79,134}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,774},{79,134}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,921},{79,134}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,921},{79,134}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,914},{79,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,765},{79,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,3},{79,134}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,914},{79,134}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,914},{79,134}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,774},{79,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_move_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,774},{79,134}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>Enemy502_stand_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{1032,3},{79,133}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1032,281},{79,133}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{938,905},{79,133}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,1061},{79,133}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1023,837},{79,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1032,559},{79,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,1054},{79,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,1061},{79,133}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1061},{79,133}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,1054},{79,133}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,422},{79,133}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,561},{79,133}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,1061},{79,133}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,1054},{79,133}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1032,142},{79,133}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1032,420},{79,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,283},{79,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1032,698},{79,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,1054},{79,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>Enemy502_stand_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,1061},{79,133}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>enemy502.png</string>
      <key>textureFileName</key>
      <string>enemy502.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>