<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Enemy601_atk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,3},{236,140}}</string>
        <key>offset</key>
        <string>{7,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,140}}</string>
        <key>sourceSize</key>
        <string>{236,140}</string>
      </dict>
      <key>Enemy601_atk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,441},{236,140}}</string>
        <key>offset</key>
        <string>{21,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,140}}</string>
        <key>sourceSize</key>
        <string>{236,140}</string>
      </dict>
      <key>Enemy601_atk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,149},{236,140}}</string>
        <key>offset</key>
        <string>{35,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,140}}</string>
        <key>sourceSize</key>
        <string>{236,140}</string>
      </dict>
      <key>Enemy601_atk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,3},{236,140}}</string>
        <key>offset</key>
        <string>{45,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,140}}</string>
        <key>sourceSize</key>
        <string>{236,140}</string>
      </dict>
      <key>Enemy601_atk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,295},{236,140}}</string>
        <key>offset</key>
        <string>{51,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,140}}</string>
        <key>sourceSize</key>
        <string>{236,140}</string>
      </dict>
      <key>Enemy601_atk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{236,140}}</string>
        <key>offset</key>
        <string>{55,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,140}}</string>
        <key>sourceSize</key>
        <string>{236,140}</string>
      </dict>
      <key>Enemy601_atk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,441},{236,140}}</string>
        <key>offset</key>
        <string>{-46,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,140}}</string>
        <key>sourceSize</key>
        <string>{236,140}</string>
      </dict>
      <key>Enemy601_atk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,295},{236,140}}</string>
        <key>offset</key>
        <string>{-45,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,140}}</string>
        <key>sourceSize</key>
        <string>{236,140}</string>
      </dict>
      <key>Enemy601_atk_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,587},{236,140}}</string>
        <key>offset</key>
        <string>{-43,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,140}}</string>
        <key>sourceSize</key>
        <string>{236,140}</string>
      </dict>
      <key>Enemy601_atk_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,441},{236,140}}</string>
        <key>offset</key>
        <string>{-39,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,140}}</string>
        <key>sourceSize</key>
        <string>{236,140}</string>
      </dict>
      <key>Enemy601_atk_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,149},{236,140}}</string>
        <key>offset</key>
        <string>{-35,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,140}}</string>
        <key>sourceSize</key>
        <string>{236,140}</string>
      </dict>
      <key>Enemy601_atk_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,295},{236,140}}</string>
        <key>offset</key>
        <string>{-27,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,140}}</string>
        <key>sourceSize</key>
        <string>{236,140}</string>
      </dict>
      <key>Enemy601_atk_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,149},{236,140}}</string>
        <key>offset</key>
        <string>{-6,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,140}}</string>
        <key>sourceSize</key>
        <string>{236,140}</string>
      </dict>
      <key>Enemy601_die_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,733},{213,135}}</string>
        <key>offset</key>
        <string>{-57,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_die_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,874},{213,135}}</string>
        <key>offset</key>
        <string>{-36,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_die_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,3},{213,135}}</string>
        <key>offset</key>
        <string>{-19,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_die_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,869},{213,135}}</string>
        <key>offset</key>
        <string>{-8,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_die_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,728},{213,135}}</string>
        <key>offset</key>
        <string>{-1,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_die_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,426},{213,135}}</string>
        <key>offset</key>
        <string>{3,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_die_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,567},{213,135}}</string>
        <key>offset</key>
        <string>{6,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_die_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,869},{213,135}}</string>
        <key>offset</key>
        <string>{8,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_die_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,144},{213,135}}</string>
        <key>offset</key>
        <string>{11,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_die_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,587},{213,135}}</string>
        <key>offset</key>
        <string>{14,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_die_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,874},{213,135}}</string>
        <key>offset</key>
        <string>{16,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_die_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,728},{213,135}}</string>
        <key>offset</key>
        <string>{16,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_die_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,285},{213,135}}</string>
        <key>offset</key>
        <string>{16,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_die_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,733},{213,135}}</string>
        <key>offset</key>
        <string>{16,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_die_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,587},{213,135}}</string>
        <key>offset</key>
        <string>{16,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,135}}</string>
        <key>sourceSize</key>
        <string>{213,135}</string>
      </dict>
      <key>Enemy601_move_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,301},{122,143}}</string>
        <key>offset</key>
        <string>{-9,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,152},{122,143}}</string>
        <key>offset</key>
        <string>{-12,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1015},{122,143}}</string>
        <key>offset</key>
        <string>{-11,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,1010},{122,143}}</string>
        <key>offset</key>
        <string>{-8,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,1015},{122,143}}</string>
        <key>offset</key>
        <string>{-4,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,1015},{122,143}}</string>
        <key>offset</key>
        <string>{1,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,152},{122,143}}</string>
        <key>offset</key>
        <string>{6,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,1010},{122,143}}</string>
        <key>offset</key>
        <string>{10,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,450},{122,143}}</string>
        <key>offset</key>
        <string>{12,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,599},{122,143}}</string>
        <key>offset</key>
        <string>{13,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,3},{122,143}}</string>
        <key>offset</key>
        <string>{14,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,450},{122,143}}</string>
        <key>offset</key>
        <string>{14,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,1010},{122,143}}</string>
        <key>offset</key>
        <string>{14,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,3},{122,143}}</string>
        <key>offset</key>
        <string>{13,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,599},{122,143}}</string>
        <key>offset</key>
        <string>{12,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,301},{122,143}}</string>
        <key>offset</key>
        <string>{9,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,748},{122,143}}</string>
        <key>offset</key>
        <string>{5,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,1015},{122,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,748},{122,143}}</string>
        <key>offset</key>
        <string>{-4,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_move_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,897},{122,143}}</string>
        <key>offset</key>
        <string>{-8,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,143}}</string>
        <key>sourceSize</key>
        <string>{122,143}</string>
      </dict>
      <key>Enemy601_stand_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,1159},{101,137}}</string>
        <key>offset</key>
        <string>{-1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1027,1040},{101,137}}</string>
        <key>offset</key>
        <string>{-1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,1159},{101,137}}</string>
        <key>offset</key>
        <string>{-1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,1159},{101,137}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,1164},{101,137}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,1164},{101,137}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1164},{101,137}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1027,897},{101,137}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,1159},{101,137}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,1164},{101,137}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,1164},{101,137}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,1164},{101,137}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,1159},{101,137}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1027,897},{101,137}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1164},{101,137}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,1164},{101,137}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,1164},{101,137}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,1159},{101,137}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,1159},{101,137}}</string>
        <key>offset</key>
        <string>{-1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>Enemy601_stand_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1027,1040},{101,137}}</string>
        <key>offset</key>
        <string>{-1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>enemy601.png</string>
      <key>textureFileName</key>
      <string>enemy601.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>