<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Enemy101_atk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,0},{77,140}}</string>
        <key>offset</key>
        <string>{13,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,140}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_atk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,0},{79,140}}</string>
        <key>offset</key>
        <string>{14,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,140}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_atk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,0},{79,140}}</string>
        <key>offset</key>
        <string>{16,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,140}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_atk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1603,140},{81,142}}</string>
        <key>offset</key>
        <string>{18,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,142}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_atk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1684,140},{81,142}}</string>
        <key>offset</key>
        <string>{20,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,142}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_atk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1765,140},{81,142}}</string>
        <key>offset</key>
        <string>{21,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,142}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_atk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1846,140},{95,142}}</string>
        <key>offset</key>
        <string>{-14,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,142}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_atk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1941,140},{95,142}}</string>
        <key>offset</key>
        <string>{-13,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,142}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_atk_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,282},{91,142}}</string>
        <key>offset</key>
        <string>{-10,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,142}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_atk_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,282},{87,142}}</string>
        <key>offset</key>
        <string>{-6,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,142}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_atk_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,282},{83,142}}</string>
        <key>offset</key>
        <string>{-2,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,142}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_atk_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1013,0},{79,140}}</string>
        <key>offset</key>
        <string>{3,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,140}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_atk_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1092,0},{75,140}}</string>
        <key>offset</key>
        <string>{8,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_atk_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1167,0},{75,140}}</string>
        <key>offset</key>
        <string>{11,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_atk_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1242,0},{77,140}}</string>
        <key>offset</key>
        <string>{13,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,140}}</string>
        <key>sourceSize</key>
        <string>{123,148}</string>
      </dict>
      <key>Enemy101_die_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{1319,0},{76,140}}</string>
        <key>offset</key>
        <string>{12,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,140}}</string>
        <key>sourceSize</key>
        <string>{100,204}</string>
      </dict>
      <key>Enemy101_die_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1395,0},{80,140}}</string>
        <key>offset</key>
        <string>{10,-29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,140}}</string>
        <key>sourceSize</key>
        <string>{100,204}</string>
      </dict>
      <key>Enemy101_die_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,0},{84,136}}</string>
        <key>offset</key>
        <string>{8,-23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,136}}</string>
        <key>sourceSize</key>
        <string>{100,204}</string>
      </dict>
      <key>Enemy101_die_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{94,130}}</string>
        <key>offset</key>
        <string>{3,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,130}}</string>
        <key>sourceSize</key>
        <string>{100,204}</string>
      </dict>
      <key>Enemy101_die_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{100,122}}</string>
        <key>offset</key>
        <string>{0,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,122}}</string>
        <key>sourceSize</key>
        <string>{100,204}</string>
      </dict>
      <key>Enemy101_die_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{100,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,116}}</string>
        <key>sourceSize</key>
        <string>{100,204}</string>
      </dict>
      <key>Enemy101_die_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{100,118}}</string>
        <key>offset</key>
        <string>{0,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,118}}</string>
        <key>sourceSize</key>
        <string>{100,204}</string>
      </dict>
      <key>Enemy101_die_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{100,118}}</string>
        <key>offset</key>
        <string>{0,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,118}}</string>
        <key>sourceSize</key>
        <string>{100,204}</string>
      </dict>
      <key>Enemy101_die_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{100,118}}</string>
        <key>offset</key>
        <string>{0,33}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,118}}</string>
        <key>sourceSize</key>
        <string>{100,204}</string>
      </dict>
      <key>Enemy101_die_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{100,118}}</string>
        <key>offset</key>
        <string>{0,41}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,118}}</string>
        <key>sourceSize</key>
        <string>{100,204}</string>
      </dict>
      <key>Enemy101_move_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,282},{77,143}}</string>
        <key>offset</key>
        <string>{-1,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,143}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1449,140},{77,141}}</string>
        <key>offset</key>
        <string>{-2,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,141}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1526,140},{77,141}}</string>
        <key>offset</key>
        <string>{-2,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,141}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,282},{79,143}}</string>
        <key>offset</key>
        <string>{-2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,143}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,282},{79,143}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,143}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,282},{81,143}}</string>
        <key>offset</key>
        <string>{-2,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,143}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{885,282},{81,143}}</string>
        <key>offset</key>
        <string>{-1,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,143}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,282},{83,143}}</string>
        <key>offset</key>
        <string>{-2,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,143}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1701,282},{85,145}}</string>
        <key>offset</key>
        <string>{-1,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,145}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1786,282},{87,145}}</string>
        <key>offset</key>
        <string>{0,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,145}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1049,282},{87,143}}</string>
        <key>offset</key>
        <string>{0,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,143}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1873,282},{87,145}}</string>
        <key>offset</key>
        <string>{0,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,145}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1960,282},{87,145}}</string>
        <key>offset</key>
        <string>{0,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,145}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,282},{85,143}}</string>
        <key>offset</key>
        <string>{-1,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,143}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1221,282},{83,143}}</string>
        <key>offset</key>
        <string>{-1,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,143}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1304,282},{81,143}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,143}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1385,282},{81,143}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,143}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1466,282},{79,143}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,143}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1545,282},{79,143}}</string>
        <key>offset</key>
        <string>{-1,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,143}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_move_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1624,282},{77,143}}</string>
        <key>offset</key>
        <string>{-1,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,143}}</string>
        <key>sourceSize</key>
        <string>{87,155}</string>
      </dict>
      <key>Enemy101_stand_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{1475,0},{75,140}}</string>
        <key>offset</key>
        <string>{-2,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1550,0},{75,140}}</string>
        <key>offset</key>
        <string>{-2,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1625,0},{75,140}}</string>
        <key>offset</key>
        <string>{-2,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1700,0},{75,140}}</string>
        <key>offset</key>
        <string>{-2,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1775,0},{75,140}}</string>
        <key>offset</key>
        <string>{-2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1850,0},{75,140}}</string>
        <key>offset</key>
        <string>{-2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1925,0},{75,140}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{77,140}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,140},{77,140}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,140},{77,140}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,140},{77,140}}</string>
        <key>offset</key>
        <string>{1,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,140},{77,140}}</string>
        <key>offset</key>
        <string>{1,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,282},{77,142}}</string>
        <key>offset</key>
        <string>{1,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,142}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,140},{77,140}}</string>
        <key>offset</key>
        <string>{1,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,140},{77,140}}</string>
        <key>offset</key>
        <string>{1,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,140},{77,140}}</string>
        <key>offset</key>
        <string>{1,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,140},{77,140}}</string>
        <key>offset</key>
        <string>{1,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,282},{77,142}}</string>
        <key>offset</key>
        <string>{1,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,142}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,282},{77,142}}</string>
        <key>offset</key>
        <string>{1,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,142}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,282},{77,142}}</string>
        <key>offset</key>
        <string>{1,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,142}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,140},{77,140}}</string>
        <key>offset</key>
        <string>{1,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,140},{77,140}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{847,140},{77,140}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,140},{75,140}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{999,140},{75,140}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{1074,140},{75,140}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{1149,140},{75,140}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{1224,140},{75,140}}</string>
        <key>offset</key>
        <string>{-2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{1299,140},{75,140}}</string>
        <key>offset</key>
        <string>{-2,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>Enemy101_stand_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{1374,140},{75,140}}</string>
        <key>offset</key>
        <string>{-2,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>enemy101.png</string>
      <key>textureFileName</key>
      <string>enemy101.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>