<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Enemy202_atk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,435},{169,138}}</string>
        <key>offset</key>
        <string>{-3,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,138}}</string>
        <key>sourceSize</key>
        <string>{169,138}</string>
      </dict>
      <key>Enemy202_atk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,733},{169,138}}</string>
        <key>offset</key>
        <string>{-7,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,138}}</string>
        <key>sourceSize</key>
        <string>{169,138}</string>
      </dict>
      <key>Enemy202_atk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,579},{169,138}}</string>
        <key>offset</key>
        <string>{-1,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,138}}</string>
        <key>sourceSize</key>
        <string>{169,138}</string>
      </dict>
      <key>Enemy202_atk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,147},{169,138}}</string>
        <key>offset</key>
        <string>{10,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,138}}</string>
        <key>sourceSize</key>
        <string>{169,138}</string>
      </dict>
      <key>Enemy202_atk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,733},{169,138}}</string>
        <key>offset</key>
        <string>{19,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,138}}</string>
        <key>sourceSize</key>
        <string>{169,138}</string>
      </dict>
      <key>Enemy202_atk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,441},{169,138}}</string>
        <key>offset</key>
        <string>{25,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,138}}</string>
        <key>sourceSize</key>
        <string>{169,138}</string>
      </dict>
      <key>Enemy202_atk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,877},{169,138}}</string>
        <key>offset</key>
        <string>{-16,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,138}}</string>
        <key>sourceSize</key>
        <string>{169,138}</string>
      </dict>
      <key>Enemy202_atk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,733},{169,138}}</string>
        <key>offset</key>
        <string>{5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,138}}</string>
        <key>sourceSize</key>
        <string>{169,138}</string>
      </dict>
      <key>Enemy202_atk_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,729},{169,138}}</string>
        <key>offset</key>
        <string>{4,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,138}}</string>
        <key>sourceSize</key>
        <string>{169,138}</string>
      </dict>
      <key>Enemy202_atk_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,3},{169,138}}</string>
        <key>offset</key>
        <string>{5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,138}}</string>
        <key>sourceSize</key>
        <string>{169,138}</string>
      </dict>
      <key>Enemy202_atk_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,733},{169,138}}</string>
        <key>offset</key>
        <string>{5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,138}}</string>
        <key>sourceSize</key>
        <string>{169,138}</string>
      </dict>
      <key>Enemy202_atk_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,291},{169,138}}</string>
        <key>offset</key>
        <string>{-3,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,138}}</string>
        <key>sourceSize</key>
        <string>{169,138}</string>
      </dict>
      <key>Enemy202_atk_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,585},{169,138}}</string>
        <key>offset</key>
        <string>{-3,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,138}}</string>
        <key>sourceSize</key>
        <string>{169,138}</string>
      </dict>
      <key>Enemy202_die_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,587},{204,140}}</string>
        <key>offset</key>
        <string>{43,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{204,140}}</string>
        <key>offset</key>
        <string>{43,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,587},{204,140}}</string>
        <key>offset</key>
        <string>{35,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,149},{204,140}}</string>
        <key>offset</key>
        <string>{24,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,295},{204,140}}</string>
        <key>offset</key>
        <string>{6,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,149},{204,140}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,295},{204,140}}</string>
        <key>offset</key>
        <string>{-17,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,587},{204,140}}</string>
        <key>offset</key>
        <string>{-8,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,441},{204,140}}</string>
        <key>offset</key>
        <string>{-2,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,3},{204,140}}</string>
        <key>offset</key>
        <string>{1,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,149},{204,140}}</string>
        <key>offset</key>
        <string>{1,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,295},{204,140}}</string>
        <key>offset</key>
        <string>{1,-25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,295},{204,140}}</string>
        <key>offset</key>
        <string>{1,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,441},{204,140}}</string>
        <key>offset</key>
        <string>{1,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,441},{204,140}}</string>
        <key>offset</key>
        <string>{1,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,3},{204,140}}</string>
        <key>offset</key>
        <string>{1,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,3},{204,140}}</string>
        <key>offset</key>
        <string>{1,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_die_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,149},{204,140}}</string>
        <key>offset</key>
        <string>{1,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,140}}</string>
        <key>sourceSize</key>
        <string>{204,140}</string>
      </dict>
      <key>Enemy202_move_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,315},{136,150}}</string>
        <key>offset</key>
        <string>{-8,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,150}}</string>
        <key>sourceSize</key>
        <string>{136,150}</string>
      </dict>
      <key>Enemy202_move_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,939},{136,150}}</string>
        <key>offset</key>
        <string>{0,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,150}}</string>
        <key>sourceSize</key>
        <string>{136,150}</string>
      </dict>
      <key>Enemy202_move_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,873},{136,150}}</string>
        <key>offset</key>
        <string>{4,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,150}}</string>
        <key>sourceSize</key>
        <string>{136,150}</string>
      </dict>
      <key>Enemy202_move_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,3},{136,150}}</string>
        <key>offset</key>
        <string>{4,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,150}}</string>
        <key>sourceSize</key>
        <string>{136,150}</string>
      </dict>
      <key>Enemy202_move_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,627},{136,150}}</string>
        <key>offset</key>
        <string>{-8,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,150}}</string>
        <key>sourceSize</key>
        <string>{136,150}</string>
      </dict>
      <key>Enemy202_move_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,783},{136,150}}</string>
        <key>offset</key>
        <string>{4,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,150}}</string>
        <key>sourceSize</key>
        <string>{136,150}</string>
      </dict>
      <key>Enemy202_move_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,1021},{136,150}}</string>
        <key>offset</key>
        <string>{5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,150}}</string>
        <key>sourceSize</key>
        <string>{136,150}</string>
      </dict>
      <key>Enemy202_move_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1021},{136,150}}</string>
        <key>offset</key>
        <string>{2,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,150}}</string>
        <key>sourceSize</key>
        <string>{136,150}</string>
      </dict>
      <key>Enemy202_move_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,471},{136,150}}</string>
        <key>offset</key>
        <string>{-11,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,150}}</string>
        <key>sourceSize</key>
        <string>{136,150}</string>
      </dict>
      <key>Enemy202_move_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,159},{136,150}}</string>
        <key>offset</key>
        <string>{-9,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,150}}</string>
        <key>sourceSize</key>
        <string>{136,150}</string>
      </dict>
      <key>Enemy202_stand_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{1145,955},{119,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,919},{119,130}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,877},{119,130}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1160,411},{119,130}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1160,3},{119,130}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1145,819},{119,130}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,877},{119,130}}</string>
        <key>offset</key>
        <string>{2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1145,683},{119,130}}</string>
        <key>offset</key>
        <string>{1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,783},{119,130}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1177},{119,130}}</string>
        <key>offset</key>
        <string>{-1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,1029},{119,130}}</string>
        <key>offset</key>
        <string>{-1,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,877},{119,130}}</string>
        <key>offset</key>
        <string>{-2,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,1029},{119,130}}</string>
        <key>offset</key>
        <string>{-1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,1029},{119,130}}</string>
        <key>offset</key>
        <string>{1,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1160,275},{119,130}}</string>
        <key>offset</key>
        <string>{2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,1029},{119,130}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,1177},{119,130}}</string>
        <key>offset</key>
        <string>{2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1160,139},{119,130}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1160,547},{119,130}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>Enemy202_stand_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,877},{119,130}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>enemy202.png</string>
      <key>textureFileName</key>
      <string>enemy202.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>