<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Enemy501_atk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,3},{153,120}}</string>
        <key>offset</key>
        <string>{-5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>Enemy501_atk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,641},{153,120}}</string>
        <key>offset</key>
        <string>{3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>Enemy501_atk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,641},{153,120}}</string>
        <key>offset</key>
        <string>{7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>Enemy501_atk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,515},{153,120}}</string>
        <key>offset</key>
        <string>{11,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>Enemy501_atk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,387},{153,120}}</string>
        <key>offset</key>
        <string>{21,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>Enemy501_atk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,515},{153,120}}</string>
        <key>offset</key>
        <string>{28,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>Enemy501_atk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,515},{153,120}}</string>
        <key>offset</key>
        <string>{-22,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>Enemy501_atk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,641},{153,120}}</string>
        <key>offset</key>
        <string>{-25,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>Enemy501_atk_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,641},{153,120}}</string>
        <key>offset</key>
        <string>{-20,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>Enemy501_atk_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,515},{153,120}}</string>
        <key>offset</key>
        <string>{-12,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>Enemy501_die_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,259},{156,122}}</string>
        <key>offset</key>
        <string>{-47,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_die_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,387},{156,122}}</string>
        <key>offset</key>
        <string>{-29,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_die_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,131},{156,122}}</string>
        <key>offset</key>
        <string>{-8,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_die_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,259},{156,122}}</string>
        <key>offset</key>
        <string>{4,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_die_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,131},{156,122}}</string>
        <key>offset</key>
        <string>{9,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_die_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,259},{156,122}}</string>
        <key>offset</key>
        <string>{12,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_die_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,387},{156,122}}</string>
        <key>offset</key>
        <string>{14,-19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_die_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,131},{156,122}}</string>
        <key>offset</key>
        <string>{14,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_die_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,259},{156,122}}</string>
        <key>offset</key>
        <string>{9,-23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_die_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{156,122}}</string>
        <key>offset</key>
        <string>{6,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_die_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,3},{156,122}}</string>
        <key>offset</key>
        <string>{6,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_die_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,3},{156,122}}</string>
        <key>offset</key>
        <string>{6,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_die_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,387},{156,122}}</string>
        <key>offset</key>
        <string>{6,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_die_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,131},{156,122}}</string>
        <key>offset</key>
        <string>{6,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_die_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,3},{156,122}}</string>
        <key>offset</key>
        <string>{6,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>Enemy501_move_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,767},{80,116}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,767},{80,116}}</string>
        <key>offset</key>
        <string>{-5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,767},{80,116}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,373},{80,116}}</string>
        <key>offset</key>
        <string>{-3,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,767},{80,116}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,739},{80,116}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,247},{80,116}}</string>
        <key>offset</key>
        <string>{2,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,767},{80,116}}</string>
        <key>offset</key>
        <string>{5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,129},{80,116}}</string>
        <key>offset</key>
        <string>{7,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,125},{80,116}}</string>
        <key>offset</key>
        <string>{7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,617},{80,116}}</string>
        <key>offset</key>
        <string>{7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,251},{80,116}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,495},{80,116}}</string>
        <key>offset</key>
        <string>{6,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,767},{80,116}}</string>
        <key>offset</key>
        <string>{5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,739},{80,116}}</string>
        <key>offset</key>
        <string>{2,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,767},{80,116}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,3},{80,116}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,617},{80,116}}</string>
        <key>offset</key>
        <string>{-2,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,495},{80,116}}</string>
        <key>offset</key>
        <string>{-3,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_move_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,767},{80,116}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,116}}</string>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>Enemy501_stand_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,889},{69,115}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,889},{69,115}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,861},{69,115}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,366},{69,115}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,617},{69,115}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,889},{69,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,245},{69,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,889},{69,115}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,889},{69,115}}</string>
        <key>offset</key>
        <string>{2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,889},{69,115}}</string>
        <key>offset</key>
        <string>{2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,369},{69,115}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,889},{69,115}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,487},{69,115}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,3},{69,115}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,369},{69,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,889},{69,115}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,124},{69,115}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,889},{69,115}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,889},{69,115}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>Enemy501_stand_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,490},{69,115}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>enemy501.png</string>
      <key>textureFileName</key>
      <string>enemy501.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>