<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Enemy102_atk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,819},{147,95}}</string>
        <key>offset</key>
        <string>{17,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,819},{147,95}}</string>
        <key>offset</key>
        <string>{18,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,920},{147,95}}</string>
        <key>offset</key>
        <string>{18,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,3},{147,95}}</string>
        <key>offset</key>
        <string>{18,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,710},{147,95}}</string>
        <key>offset</key>
        <string>{19,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,508},{147,95}}</string>
        <key>offset</key>
        <string>{19,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,205},{147,95}}</string>
        <key>offset</key>
        <string>{17,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,955},{147,95}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,104},{147,95}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,912},{147,95}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,819},{147,95}}</string>
        <key>offset</key>
        <string>{4,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,609},{147,95}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,3},{147,95}}</string>
        <key>offset</key>
        <string>{9,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,819},{147,95}}</string>
        <key>offset</key>
        <string>{12,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,920},{147,95}}</string>
        <key>offset</key>
        <string>{14,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,407},{147,95}}</string>
        <key>offset</key>
        <string>{16,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,306},{147,95}}</string>
        <key>offset</key>
        <string>{17,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,920},{147,95}}</string>
        <key>offset</key>
        <string>{17,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,955},{147,95}}</string>
        <key>offset</key>
        <string>{17,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_atk_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,811},{147,95}}</string>
        <key>offset</key>
        <string>{17,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,95}}</string>
        <key>sourceSize</key>
        <string>{147,95}</string>
      </dict>
      <key>Enemy102_die_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,139},{207,130}}</string>
        <key>offset</key>
        <string>{-51,-23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,275},{207,130}}</string>
        <key>offset</key>
        <string>{-45,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,275},{207,130}}</string>
        <key>offset</key>
        <string>{-25,10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,683},{207,130}}</string>
        <key>offset</key>
        <string>{34,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,547},{207,130}}</string>
        <key>offset</key>
        <string>{40,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,819},{207,130}}</string>
        <key>offset</key>
        <string>{48,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,3},{207,130}}</string>
        <key>offset</key>
        <string>{53,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,275},{207,130}}</string>
        <key>offset</key>
        <string>{43,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,3},{207,130}}</string>
        <key>offset</key>
        <string>{33,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,275},{207,130}}</string>
        <key>offset</key>
        <string>{24,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,547},{207,130}}</string>
        <key>offset</key>
        <string>{30,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,139},{207,130}}</string>
        <key>offset</key>
        <string>{37,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,547},{207,130}}</string>
        <key>offset</key>
        <string>{46,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,139},{207,130}}</string>
        <key>offset</key>
        <string>{43,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{207,130}}</string>
        <key>offset</key>
        <string>{40,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,411},{207,130}}</string>
        <key>offset</key>
        <string>{33,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,411},{207,130}}</string>
        <key>offset</key>
        <string>{30,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,683},{207,130}}</string>
        <key>offset</key>
        <string>{26,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,411},{207,130}}</string>
        <key>offset</key>
        <string>{21,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,139},{207,130}}</string>
        <key>offset</key>
        <string>{20,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,411},{207,130}}</string>
        <key>offset</key>
        <string>{22,-23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,683},{207,130}}</string>
        <key>offset</key>
        <string>{23,-26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,3},{207,130}}</string>
        <key>offset</key>
        <string>{24,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,683},{207,130}}</string>
        <key>offset</key>
        <string>{25,-33}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_die_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,547},{207,130}}</string>
        <key>offset</key>
        <string>{26,-36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{207,130}}</string>
        <key>sourceSize</key>
        <string>{207,130}</string>
      </dict>
      <key>Enemy102_move_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,656},{116,86}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,86}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>Enemy102_move_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,840},{116,86}}</string>
        <key>offset</key>
        <string>{3,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,86}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>Enemy102_move_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,288},{116,86}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,86}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>Enemy102_move_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,472},{116,86}}</string>
        <key>offset</key>
        <string>{-2,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,86}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>Enemy102_move_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,932},{116,86}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,86}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>Enemy102_move_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,196},{116,86}}</string>
        <key>offset</key>
        <string>{1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,86}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>Enemy102_move_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,748},{116,86}}</string>
        <key>offset</key>
        <string>{3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,86}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>Enemy102_move_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,380},{116,86}}</string>
        <key>offset</key>
        <string>{4,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,86}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>Enemy102_move_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,564},{116,86}}</string>
        <key>offset</key>
        <string>{1,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,86}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>Enemy102_move_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,104},{116,86}}</string>
        <key>offset</key>
        <string>{6,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,86}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>Enemy102_stand_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{1130,567},{103,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,1118},{103,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1130,379},{103,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,1150},{103,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1150},{103,88}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1056},{103,88}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,1118},{103,88}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,1118},{103,88}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1130,849},{103,88}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,1056},{103,88}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,1056},{103,88}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1130,755},{103,88}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,1118},{103,88}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,1024},{103,88}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,1024},{103,88}}</string>
        <key>offset</key>
        <string>{0,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,1024},{103,88}}</string>
        <key>offset</key>
        <string>{0,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,1118},{103,88}}</string>
        <key>offset</key>
        <string>{0,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1130,285},{103,88}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1130,661},{103,88}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,1024},{103,88}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1130,473},{103,88}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,1118},{103,88}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,1024},{103,88}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1130,191},{103,88}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{1161,97},{103,88}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{1161,3},{103,88}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,1118},{103,88}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,1024},{103,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,1024},{103,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
      <key>Enemy102_stand_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,1150},{103,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,88}}</string>
        <key>sourceSize</key>
        <string>{103,88}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>enemy102.png</string>
      <key>textureFileName</key>
      <string>enemy102.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>