<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Enemy303_atk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,261},{70,128}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,128}}</string>
        <key>sourceSize</key>
        <string>{152,128}</string>
      </dict>
      <key>Enemy303_atk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,261},{74,128}}</string>
        <key>offset</key>
        <string>{16,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,128}}</string>
        <key>sourceSize</key>
        <string>{152,128}</string>
      </dict>
      <key>Enemy303_atk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,391},{98,114}}</string>
        <key>offset</key>
        <string>{27,-7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,114}}</string>
        <key>sourceSize</key>
        <string>{152,128}</string>
      </dict>
      <key>Enemy303_atk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,395},{94,106}}</string>
        <key>offset</key>
        <string>{25,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,106}}</string>
        <key>sourceSize</key>
        <string>{152,128}</string>
      </dict>
      <key>Enemy303_atk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,394},{108,108}}</string>
        <key>offset</key>
        <string>{-21,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,108}}</string>
        <key>sourceSize</key>
        <string>{152,128}</string>
      </dict>
      <key>Enemy303_atk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,394},{110,108}}</string>
        <key>offset</key>
        <string>{-21,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,108}}</string>
        <key>sourceSize</key>
        <string>{152,128}</string>
      </dict>
      <key>Enemy303_atk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,387},{96,122}}</string>
        <key>offset</key>
        <string>{-15,-3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,122}}</string>
        <key>sourceSize</key>
        <string>{152,128}</string>
      </dict>
      <key>Enemy303_atk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,131},{76,128}}</string>
        <key>offset</key>
        <string>{-5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,128}}</string>
        <key>sourceSize</key>
        <string>{152,128}</string>
      </dict>
      <key>Enemy303_die_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{70,130}}</string>
        <key>offset</key>
        <string>{-37,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,130}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,261},{74,128}}</string>
        <key>offset</key>
        <string>{-21,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,128}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1304,1},{88,124}}</string>
        <key>offset</key>
        <string>{-10,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,124}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1143,384},{94,118}}</string>
        <key>offset</key>
        <string>{-1,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,118}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,391},{96,110}}</string>
        <key>offset</key>
        <string>{6,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,110}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,391},{98,100}}</string>
        <key>offset</key>
        <string>{11,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,100}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,391},{108,88}}</string>
        <key>offset</key>
        <string>{14,-19}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,88}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,389},{112,78}}</string>
        <key>offset</key>
        <string>{14,-25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,78}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,388},{114,70}}</string>
        <key>offset</key>
        <string>{13,-29}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,70}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1232,1},{116,68}}</string>
        <key>offset</key>
        <string>{14,-30}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,68}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1304,170},{116,68}}</string>
        <key>offset</key>
        <string>{14,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,68}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{999,385},{116,70}}</string>
        <key>offset</key>
        <string>{14,-31}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,70}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1071,385},{116,70}}</string>
        <key>offset</key>
        <string>{14,-31}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,70}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1304,240},{116,68}}</string>
        <key>offset</key>
        <string>{14,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,68}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1231,255},{116,68}}</string>
        <key>offset</key>
        <string>{14,-31}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,68}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1301,310},{116,68}}</string>
        <key>offset</key>
        <string>{14,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,68}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1239,380},{116,68}}</string>
        <key>offset</key>
        <string>{14,-31}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,68}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_die_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1309,380},{116,68}}</string>
        <key>offset</key>
        <string>{14,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,68}}</string>
        <key>sourceSize</key>
        <string>{144,132}</string>
      </dict>
      <key>Enemy303_move_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,1},{84,126}}</string>
        <key>offset</key>
        <string>{-10,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,126}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,259},{84,126}}</string>
        <key>offset</key>
        <string>{-10,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,126}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,129},{82,126}}</string>
        <key>offset</key>
        <string>{-9,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,131},{78,128}}</string>
        <key>offset</key>
        <string>{-7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,128}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,261},{72,128}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,128}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,1},{70,128}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,128}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,131},{72,128}}</string>
        <key>offset</key>
        <string>{5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,128}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,131},{74,128}}</string>
        <key>offset</key>
        <string>{8,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,128}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,1},{78,128}}</string>
        <key>offset</key>
        <string>{10,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,128}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,1},{80,126}}</string>
        <key>offset</key>
        <string>{11,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,126}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,1},{82,126}}</string>
        <key>offset</key>
        <string>{11,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{909,257},{82,126}}</string>
        <key>offset</key>
        <string>{11,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,129},{82,126}}</string>
        <key>offset</key>
        <string>{11,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,1},{80,128}}</string>
        <key>offset</key>
        <string>{10,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,128}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,261},{78,128}}</string>
        <key>offset</key>
        <string>{8,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,128}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,1},{74,128}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,128}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,1},{70,128}}</string>
        <key>offset</key>
        <string>{3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,128}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1074,129},{72,126}}</string>
        <key>offset</key>
        <string>{-3,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,126}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{996,129},{76,126}}</string>
        <key>offset</key>
        <string>{-6,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,126}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_move_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{993,257},{80,126}}</string>
        <key>offset</key>
        <string>{-8,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,126}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>Enemy303_stand_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,1},{69,129}}</string>
        <key>offset</key>
        <string>{7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,129}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,132},{69,129}}</string>
        <key>offset</key>
        <string>{7,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,129}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,1},{71,129}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,129}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,133},{73,129}}</string>
        <key>offset</key>
        <string>{5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,129}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,1},{73,129}}</string>
        <key>offset</key>
        <string>{4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,129}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,264},{73,129}}</string>
        <key>offset</key>
        <string>{3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,129}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,132},{73,129}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,129}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,131},{73,127}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,127}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,1},{73,127}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,127}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,260},{73,127}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,127}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1155,1},{75,125}}</string>
        <key>offset</key>
        <string>{-2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,125}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1154,255},{75,125}}</string>
        <key>offset</key>
        <string>{-2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,125}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,1},{77,125}}</string>
        <key>offset</key>
        <string>{-3,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,125}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1304,91},{77,123}}</string>
        <key>offset</key>
        <string>{-3,-3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,123}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1075,257},{77,125}}</string>
        <key>offset</key>
        <string>{-3,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,125}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1148,128},{77,125}}</string>
        <key>offset</key>
        <string>{-3,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,125}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1227,128},{75,125}}</string>
        <key>offset</key>
        <string>{-2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,125}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,130},{73,127}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,127}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,1},{73,127}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,127}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,259},{73,127}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,127}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,130},{73,127}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,127}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,263},{71,129}}</string>
        <key>offset</key>
        <string>{3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,129}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,263},{71,129}}</string>
        <key>offset</key>
        <string>{4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,129}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,132},{71,129}}</string>
        <key>offset</key>
        <string>{5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,129}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
      <key>Enemy303_stand_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,263},{71,129}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,129}}</string>
        <key>sourceSize</key>
        <string>{83,129}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>enemy303.png</string>
      <key>textureFileName</key>
      <string>enemy303.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>