<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Enemy103_atk_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,0},{62,137}}</string>
        <key>offset</key>
        <string>{10,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,137}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_atk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,695},{98,133}}</string>
        <key>offset</key>
        <string>{3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,133}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_atk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,552},{86,125}}</string>
        <key>offset</key>
        <string>{26,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,125}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_atk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,836},{114,123}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,123}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_atk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1112},{120,113}}</string>
        <key>offset</key>
        <string>{4,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,113}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_atk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,1112},{124,105}}</string>
        <key>offset</key>
        <string>{2,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,105}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_atk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,974},{116,95}}</string>
        <key>offset</key>
        <string>{6,-21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,95}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_atk_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,974},{116,87}}</string>
        <key>offset</key>
        <string>{6,-26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,87}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_atk_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,1112},{124,85}}</string>
        <key>offset</key>
        <string>{3,-23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,85}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_atk_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,836},{114,123}}</string>
        <key>offset</key>
        <string>{-6,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,123}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_atk_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,276},{68,137}}</string>
        <key>offset</key>
        <string>{7,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,137}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_atk_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,138},{64,137}}</string>
        <key>offset</key>
        <string>{12,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,137}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_atk_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{62,137}}</string>
        <key>offset</key>
        <string>{10,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,137}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_atk_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,0},{62,137}}</string>
        <key>offset</key>
        <string>{10,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,137}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_atk_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,0},{62,137}}</string>
        <key>offset</key>
        <string>{10,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,137}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>Enemy103_die_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{61,137}}</string>
        <key>offset</key>
        <string>{-21,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,137}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_die_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,552},{81,143}}</string>
        <key>offset</key>
        <string>{-27,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,143}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_die_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,695},{97,141}}</string>
        <key>offset</key>
        <string>{-24,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,141}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_die_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,974},{119,133}}</string>
        <key>offset</key>
        <string>{-21,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,133}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_die_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,1112},{129,107}}</string>
        <key>offset</key>
        <string>{-21,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,107}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_die_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1225},{147,105}}</string>
        <key>offset</key>
        <string>{-23,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,105}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_die_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,1225},{155,81}}</string>
        <key>offset</key>
        <string>{-8,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,81}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_die_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,1225},{177,75}}</string>
        <key>offset</key>
        <string>{3,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{177,75}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_die_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1330},{179,73}}</string>
        <key>offset</key>
        <string>{7,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,73}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_die_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,1330},{179,67}}</string>
        <key>offset</key>
        <string>{7,-34}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,67}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_die_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1403},{179,51}}</string>
        <key>offset</key>
        <string>{7,-42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,51}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_die_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,1403},{179,51}}</string>
        <key>offset</key>
        <string>{7,-42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,51}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_die_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1454},{179,51}}</string>
        <key>offset</key>
        <string>{7,-42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,51}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_die_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,1454},{179,51}}</string>
        <key>offset</key>
        <string>{7,-42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,51}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_die_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1505},{179,51}}</string>
        <key>offset</key>
        <string>{7,-42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,51}}</string>
        <key>sourceSize</key>
        <string>{193,143}</string>
      </dict>
      <key>Enemy103_move_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,0},{61,138}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,138}}</string>
        <key>sourceSize</key>
        <string>{127,142}</string>
      </dict>
      <key>Enemy103_move_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,414},{75,138}}</string>
        <key>offset</key>
        <string>{-5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,138}}</string>
        <key>sourceSize</key>
        <string>{127,142}</string>
      </dict>
      <key>Enemy103_move_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,695},{99,140}}</string>
        <key>offset</key>
        <string>{-4,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,140}}</string>
        <key>sourceSize</key>
        <string>{127,142}</string>
      </dict>
      <key>Enemy103_move_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,836},{115,138}}</string>
        <key>offset</key>
        <string>{3,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,138}}</string>
        <key>sourceSize</key>
        <string>{127,142}</string>
      </dict>
      <key>Enemy103_move_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,974},{119,138}}</string>
        <key>offset</key>
        <string>{4,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,138}}</string>
        <key>sourceSize</key>
        <string>{127,142}</string>
      </dict>
      <key>Enemy103_move_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,836},{113,130}}</string>
        <key>offset</key>
        <string>{5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,130}}</string>
        <key>sourceSize</key>
        <string>{127,142}</string>
      </dict>
      <key>Enemy103_move_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,552},{95,132}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,132}}</string>
        <key>sourceSize</key>
        <string>{127,142}</string>
      </dict>
      <key>Enemy103_move_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,695},{109,134}}</string>
        <key>offset</key>
        <string>{-7,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,134}}</string>
        <key>sourceSize</key>
        <string>{127,142}</string>
      </dict>
      <key>Enemy103_move_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,695},{95,136}}</string>
        <key>offset</key>
        <string>{-15,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,136}}</string>
        <key>sourceSize</key>
        <string>{127,142}</string>
      </dict>
      <key>Enemy103_move_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,276},{71,138}}</string>
        <key>offset</key>
        <string>{-9,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,138}}</string>
        <key>sourceSize</key>
        <string>{127,142}</string>
      </dict>
      <key>Enemy103_move_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{61,138}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,138}}</string>
        <key>sourceSize</key>
        <string>{127,142}</string>
      </dict>
      <key>Enemy103_stand_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,0},{62,138}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,138},{64,138}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,276},{68,138}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,276},{72,138}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,414},{78,138}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,414},{80,138}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,414},{80,138}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,414},{80,138}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,552},{80,138}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,552},{80,138}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,552},{80,138}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,414},{78,138}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,276},{72,138}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,276},{68,138}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,138},{66,138}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,276},{66,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,138},{64,138}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,138},{62,138}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,138},{62,138}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
      <key>Enemy103_stand_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,138},{62,138}}</string>
        <key>offset</key>
        <string>{2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,138}}</string>
        <key>sourceSize</key>
        <string>{82,138}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>enemy103.png</string>
      <key>textureFileName</key>
      <string>enemy103.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>